# Database Configuration
DB_DRIVER=mysql
DB_HOST=lakhdl
DB_PORT=1234
DB_ROOT_PASSWORD=ajbkjaoi
DB_DATABASE=mlite_db
DB_USERNAME=jafaihdl
DB_PASSWORD=lkasdaid

# Application Configuration
APP_PORT=8000 # gunakan jika ingin mengakses nginx dari luar container

# Docker Compose Profiles
# Biarkan kosong jika menggunakan SQLite. Isi dengan 'mysql_enabled' jika ingin menggunakan container MySQL
COMPOSE_PROFILES=mysql_enabled
